/* GLOBAL */

/* Roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body * {
	font-family: "Roboto", sans-serif;
}

p {
	color: #313332;
}

.hover-effect img {
	transition: all 0.33s ease-in-out;
	transform: scale(1) translateY(0px);
}
.hover-effect img:hover {
	transition: all 0.33s ease-in-out;
	transform: scale(1.05) translateY(-10px);
}

/* HEADER */

#site-header.sticky-top {
	position: sticky;
	z-index: 10;
	top: 0;
	background-color: #c8d6cf;
}

li.menu-item a {
	color: #313332 !important;
	display: inline-block;
	padding: 10px 25px;
	background-color: #f4ca52;
	border-radius: 10px;
	text-align: center;
}

li.menu-item a:hover,
li.menu-item.current-menu-item a {
	color: #f4ca52 !important;
	background-color: #313332;
	text-decoration: none !important;
}

/* FOOTER */

.footer-nav-widgets-wrapper {
	background-color: #c8d6cf !important;
}

#site-footer {
	padding: 20px;
	text-align: center;
	color: #6d6d6d;
	background-color: #c8d6cf !important;
}

/* About Page */

#about h1 {
	text-align: center;
	font-size: 40px;
}
#about > section {
	max-width: 1200px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0 20px;
}
#about > section h2 {
	width: 100%;
	padding: 0 15px;
	font-size: 30px;
}
#about > section .image {
	width: 300px;
	padding: 0 15px;
}
#about > section .image img {
	width: 100%;
}
#about > section .text {
	flex: 1;
}
@media (max-width: 768px) {
	#about > section > * {
		width: 100%;
		flex: initial !important;
	}
	#about > section .image {
		order: 2;
	}
}

/* Lexicon Page */

#lexicon h1 {
	text-align: center;
	font-size: 40px;
}

#lexicon > section {
	max-width: 1200px;
	margin: auto;
}

#lexicon .word {
	border: 1px solid grey;
	border-radius: 20px;
	margin: 0 20px 20px 20px;
	overflow: hidden;
	cursor: pointer;
}

#lexicon .word .down {
	display: inline-block;
}

#lexicon .word .up {
	display: none;
}

#lexicon .word.open .down {
	display: none;
}

#lexicon .word.open .up {
	display: inline-block;
}

#lexicon .word .title {
	padding: 10px 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: #c8d6cf;
	font-size: 20px;
	font-weight: bold;
}

#lexicon .word .definition {
	padding: 10px 20px;
	display: none;
}

#lexicon .word.open .definition {
	padding: 10px 20px;
	display: block;
	background: #f4ca52;
}

/* Archive Page */

.more-excerpt {
	text-align: center;
}
.more-excerpt a {
	display: inline-block;
	padding: 10px 25px;
	color: #313332;
	background-color: #f4ca52;
	text-decoration: none;
	border-radius: 10px;
}

.more-excerpt a:hover {
	color: #f4ca52;
	background-color: #313332;
}
